XDG_CACHE_HOME
.vscode
*.swp
__pycache__

Dataset/Data/*.tif
Dataset/Data_GT/*.tif
Dataset/Main/*.tif
Dataset/Main_GT/*.tif

model_output/*.tif
models/*.ckpt

!plots

!model_output/unet_bn_40.png
!model_output/unet_bn_80.png
!model_output/unet_bn_125.png
!model_output/unet_bn_150.png
!model_output/unet_bn_100.png

